---
import Header from "../components/Header.astro";
import { ImageGallery } from "../components/ImageGallery";
import Layout from "../layouts/Layout.astro";
import { PEXELS_API_KEY } from "../config";
import Footer from "../components/Footer.astro";
---

<Layout>
  <div class="max-w-7xl mx-auto">
    <Header />
    <ImageGallery client:only="react" apiKey={PEXELS_API_KEY} />
    <Footer />
  </div>
</Layout>
