---

---

<header
  class="w-full h-screen flex items-center max-sm:justify-center sm:pl-16"
>
  <h1>
    <a
      class="sm:text-9xl gap-y-3 text-8xl font-big-shoulders-inline flex flex-col uppercase text-white"
      href="/"
    >
      <span>Galería</span><span>de</span><span>Imágenes</span>
    </a>
  </h1>
</header>
